<div class="main-content">
    <div class="section-content section-content-p30">
        <h4  *ngIf="!searchMode">Category : {{currentCategoryName}}</h4>
        <hr *ngIf="!searchMode">
        <div class="container-fluid">
            <div class="row">

                <div *ngIf="products.length > 0;" class="product-grid">
                    <div *ngFor="let product of products" class="product-item">
                        <img [src]="product.imageUrl" alt="{{ product.name }}" class="product-image" />
                        <h3>{{ product.name }}</h3>
                        <p>{{ product.description }}</p>
                        <p>Price: {{ product.unitPrice | currency }}</p>
                        <p>Stock: {{ product.unitsInStock }}</p>
                    </div>
                </div>
                <div *ngIf="products?.length == 0" class="alert alert-warning col-md-12" role="alert">
                    No products found .
                </div>
            </div>
        </div>
    </div>
</div>



